{% layout 'layout.liquid' %}
{% block content %}
<div class="topSpace">sssssss</div>
    <div class="ownerUpdate" style="padding: 1rem;">
        <h2>Are you sure you want to delete "{{ tikiDrink.name }}"?</h2>
    </div>
        <div style="display: flex; flex-direction:row;">
            <a style="margin: 1rem " class="btn btn-success"href="/tikiDrink/{{tikiDrink.id}}">Keep it</a>
            <form action="/tikiDrink/{{tikiDrink.id}}?_method=DELETE" method="POST">
                <input style=" margin: 1rem;"  class="btn btn-danger" type="submit" value="Delete">
            </form>
        </div>
{% endblock %}