{%- comment -%} Needs a submit button with "Save" value
                The Add buttons should toggle the display value of ingridients 7-10,ingredient amounts 7-10, garnishes 2-4 and garnish amounts 2-4. Find a way to allow prep instructions box to extend verically  {%- endcomment -%}

{% layout 'layout.liquid' %}
{% block content %}

    <div class="container-sm">
        <form action="/tikiDrink" method="POST">
            <fieldset>
<label class="form-label" style="margin-top: 4rem;">Name: </label>
                <input
                    class="form-control"
                    type="text"
                    name="name"
                    placeholder="enter the name of the drink"
                    value="{{ tikiDrink.name }}"
                >
                <input
                    style="display: none;"
                    class="form-check-input"
                    type="checkbox"
                    name="fav"
                    
                >
                <input
                    style="display: none;"
                    class="form-control"
                    type="text"
                    name="lastUpdated"
                    value={{ "now" | date: "%m-%d-%Y" }}
                > 
                
                <label class="form-label">Ingredient: </label>
                <input
                    class="form-control"
                    type="text"
                    name="ingredients"
                    placeholder="format input like this: (ingredient) (qty), (ingredient) (qty), (ingredient) (qty)  example: Rum 2oz, Tequila .5oz"
                >
                <label class="form-label">Garnish: </label>
                <input
                    class="form-control"
                    type="text"
                    name="garnishes"
                    placeholder="format input like this: (garnish name) (qty), (garnish name) (qty), (garnish name) (qty)  example: Lime Wheel 1 piece, Lemon Wheel 1 piece"
                >
                <label class="form-label">Glassware: </label>
                <input
                    class="form-control"
                    type="text"
                    name="glassware"
                    placeholder="enter glassware"
                >
                <label class="form-label">Prep Instructions: </label>
                <input
                    class="form-control"
                    type="text"
                    name="prepInstructs"
                    placeholder="enter prep instructions like this: (prep instruction), (prep instuction), (prep instruction) example: Do the thing, Do the other thing, Do the other other thing"
                >
            </fieldset>
            
            <input
                class="btn btn-success"
                type="submit"
                value="Create New tiki drink"
            >
        </form>
    </div>

{% endblock %}