{%- comment -%} Needs a submit button with "Save" value
                The Add buttons should toggle the display value of ingridients 7-10,ingredient amounts 7-10, garnishes 2-4 and garnish amounts 2-4. Find a way to allow prep instructions box to extend verically  {%- endcomment -%}

{% layout 'layout.liquid' %}
{% block content %}
    <div style="height: 6rem;"></div>
    <div id="fieldBox">
            <div  id="customize">
                <h2>Create New</h2>
                <form action="/tikiDrink" method="POST">
                    <fieldset>
                        <label class="inputLine" style="margin-top: 1rem;">Name:
                        </label>
                        <input
                            class="form-control"
                            type="text"
                            name="name"
                            placeholder="enter the name of the drink"
                            value="{{ tikiDrink.name }}"
                        >
                        <input
                            style="display: none;"
                            class="form-check-input"
                            type="checkbox"
                            name="fav"
                            
                        >
                        <input
                            style="display: none;"
                            class="form-control"
                            type="text"
                            name="lastUpdated"
                            value={{ "now" | date: "%m/%d/%Y" }}
                        > 
                        
                        <label class="inputLine">Ingredient: </label>
                        <input
                            class="form-control"
                            type="text"
                            name="ingredients"
                            placeholder="(ingredient) (qty), (ingredient) (qty), (ingredient) (qty)  example: Rum 2oz, Tequila .5oz"
                        >
                        <label class="inputLine">Garnish: </label>
                        <input
                            class="form-control"
                            type="text"
                            name="garnishes"
                            placeholder="(garnish name) (qty), (garnish name) (qty), (garnish name) (qty)  example: Lime Wheel 1 piece, Lemon Wheel 1 piece"
                        >
                        <label class="inputLine">Glassware: </label>
                        <input
                            class="form-control"
                            type="text"
                            name="glassware"
                            placeholder="enter glassware"
                        >
                        <label class="inputLine">Prep Instructions: </label>
                        <input
                            class="form-control"
                            type="text"
                            name="prepInstructs"
                            placeholder="(prep instruction), (prep instruction), (prep instruction) example: Do the thing, Do the other thing, Do the other other thing"
                            style="margin-bottom: 1rem;"
                        >
                    </fieldset>
                <input
                class="btn btn-success"
                type="submit"
                value="Create New tiki drink"
            >
                </div>
         </div>
        </form>


{% endblock %}