{% block content %}
   <div id="fieldBox">
    <div class="commCard mb-4 shadow">
        <div class="card-body" style="height: 3rem; border: none">
            <p >{{ comment.note }}</p>
            <div class="d-flex justify-content-between">
                <small>author: {{ comment.author.username }}</small>
                {% if comment.author == userId %}
                    <form action="/comments/delete/{{tikiDrink.id}}/{{comment.id}}?_method=DELETE" method="POST">
                        <input class="btn btn-danger" type="submit" value="X">
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}