{% layout 'layout.liquid' %}
{% block content %}
    <div style="height: 8rem;"></div>
    <div class="container-sm titles">
        <h2>{{error}}</h2>
        <a class="btn btn-warning" href="/">Go back to the MyTiki</a>
    </div>
{% endblock %}