{% layout 'layout.liquid' %}
{% block content %}
    
    <div class="topSpace" id="bTTop">sssssss</div>

    <div data-spy="scroll" data-target="#navbar-example2" data-method="offset" data-offset="10" style="justify-content:center">
                
                <div style="padding: 0; font-size: 4vh; background-color: rgb(20, 20, 20); border: solid tan 4px; justify-content:center">
                    <nav 
                        id="navbar-example2 " class="navbar bg-dark" style="display: flex; padding: 2rem; margin: 1rem; border-radius:1rem;" 
                    >

                        <a class="btn btn-secondary buttSpace" href="#seven">Pot Still Unaged</a>

                        <a class="btn btn-info buttSpace" href="#eight">Pot Still Lightly Aged 1</a>

                        <a class="btn btn-secondary buttSpace" href="#nine">Pot Still Aged</a>

                        <a class="btn btn-secondary buttSpace" href="#ten">Pot Still Long Aged</a>

                        <a class="btn btn-info buttSpace" href="#eleven">Blended Lightly Aged 2</a>

                        <a class="btn btn-info buttSpace" href="#twelve">Blended Aged 3</a>

                        <a class="btn btn-secondary buttSpace" href="#thirteen">Blended Long Aged</a>

                        <a class="btn btn-secondary buttSpace" href="#fourteen">Column Still Lightly Aged</a>

                        <a class="btn btn-info buttSpace" href="#fifteen">Column Still Aged 4</a>

                        <a class="btn btn-secondary buttSpace" href="#sixteen">Column Still Long Aged</a>

                        <a class="btn btn-secondary buttSpace" href="#seventeen">Black Pot Still</a>

                        <a class="btn btn-info buttSpace" href="#eighteen">Black Blended 5</a>

                        <a class="btn btn-info buttSpace" href="#nineteen">Black Blended Overproof 6</a>

                        <a class="btn btn-secondary buttSpace" href="#one">Cane Pot Still Unaged</a>

                        <a class="btn btn-secondary buttSpace" href="#caneCoffeeStillAged">Cane Coffee Still Aged</a>

                        <a class="btn btn-secondary buttSpace" href="#canePotStillAged">Cane Pot Still Aged</a>

                        <a class="btn btn-info buttSpace" href="#two">Cane AOC Martinique Rhum Agricole Blanc 7</a>

                        <a class="btn btn-info buttSpace" href="#three">Cane AOC Martinique Rhum Agricole Vieux 8</a>

                        <a class="btn btn-secondary buttSpace" href="#four">Cane AOC Martinique Rhum Agricole Long Aged</a>

                        <a class="btn btn-secondary buttSpace" href="#five">Pot Still Unaged Cachaça</a>

                        <a class="btn btn-secondary buttSpace" href="#six">Pot Still Aged Cachaça</a>



                        {%- comment -%} <a class="btn btn-secondary buttSpace" href="#">Back to Top</a> {%- endcomment -%}
                    </nav>
                </div>




                <h4 id="seven"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">POT STILL UNAGED</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Hamilton Jamaica Gold Jamaica)</h4>
                                <hr>
                                <h4>Owney's New York Rum (New York, USA)</h4>
                                <hr>
                                <h4>Prichard's Crystal (Tennessee, USA)</h4>
                                <hr>
                                <h4>Privateer Silver Reserve (Massachusetts, USA)</h4>
                                <hr>
                                <h4>Rum Society #40 (Guyana) and #62 (regional blend)</h4>
                                <hr>
                                <h4>Sammy's Beach Bar Rum (Hawaii, USA)</h4>
                                <hr>
                                <h4>Sergeant Classick White (California, USA)</h4>
                                <hr>
                                <h4>Wray & Nephew (overproof) Jamaica</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 id="eight"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">POT STILL LIGHTLY AGED 1</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Ballast Point Three Sheets Aged (California, USA)</h4>
                                <hr>
                                <h4>Diablo's Shadow Navy Strength (overproof) (California, USA)</h4>
                                <hr>
                                <h4>House Spirits Aged Rum (Oregon, USA)</h4>
                                <hr>
                                <h4>Journeyman Road's End Organic Rum (overproof) (Michigan, USA)</h4>
                                <hr>
                                <h4>Maggie's Farm Queen's Share Rum (overproof) (Pennsylvania, USA)</h4>
                                <hr>
                                <h4>Montanya Oro and Platino (Colorado, USA)</h4>
                                <hr>
                                <h4>Prichard's Fine (Tennessee, USA)</h4>
                                <hr>
                                <h4>Privateer Amber (Massachusetts, USA)</h4>
                                <hr>
                                <h4>Ragged Mountain Rum (Massachusetts, USA)</h4>
                                <hr>
                                <h4>Richland Georgia Rum (Georgia, USA)</h4>
                                <hr>
                                <h4>Rum Society #65 (regional blend)</h4>
                                <hr>
                                <h4>Smith & Cross (overproof) (Jamaica)</h4>
                                <hr>
                                <h4>Sun Rum Barrel Aged (Washington, USA)</h4>
                                <hr>
                                <h4>Thomas Tew Single Barrel (Rhode Island, USA)</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 id="nine"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">POT STILL AGED</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Berry Bros & Rudd (independent bottler, various)</h4>
                                <hr>
                                <h4>Cadenhead (independent bottler, various)</h4>
                                <hr>
                                <h4>Duncan Taylor (independent bottler, various)</h4>
                                <hr>
                                <h4>El Dorado Single Barrel PM (Guyana)</h4>
                                <hr>
                                <h4>Hamilton St. Lucia (St. Lucia)</h4>
                                <hr>
                                <h4>Mezan (independent bottler, various)</h4>
                                <hr>
                                <h4>Plantation (independent bottler, various)</h4>
                                <hr>
                                <h4>Samaroli (independent bottler, various)</h4>
                                <hr>
                                <h4>St. Nicholas Abbey 5 Year (Barbados)</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 id="ten"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">POT STILL LONG AGED</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Appleton Estate 50 Year (Jamaica)</h4>
                                <hr>
                                <h4>Diplomatico Ambassador and Single Vintage (Venezuela)</h4>
                                <hr>
                                <h4>The Black Tot (regional blend)</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 id="eleven"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">BLENDED LIGHTLY AGED 2</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Appleton Estate Signature Blend (Jamaica)</h4>
                                <hr>
                                <h4>Banks 5 Island and 7 Island (regional blend)</h4>
                                <hr>
                                <h4>Cartavio Selecto 5 (Peru)</h4>
                                <hr>
                                <h4>Chairman's Reserve Silver (St. Lucia)</h4>
                                <hr>
                                <h4>Cockspur Fine (Barbados)</h4>
                                <hr>
                                <h4>Denizen (regional blend)</h4>
                                <hr>
                                <h4>Diplomatico Añejo and Blanco (Venezuela)</h4>
                                <hr>
                                <h4>El Dorado 3 Year (Guyana)</h4>
                                <hr>
                                <h4>Mount Gay Eclipse (Barbados)</h4>
                                <hr>
                                <h4>Plantation 3 Star (regional blend)</h4>
                                <hr>
                                <h4>Real McCoy 3 year (Barbados)</h4>
                                <hr>
                                <h4>Santa Teresa Claro (Venezuela)</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 id="twelve"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">BLENDED AGED 3</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Appleton Estate Reserve Blend and Rare Blend 12 (Jamaica)</h4>
                                <hr>
                                <h4>Cadenhead Green Label (regional blend)</h4>
                                <hr>
                                <h4>Cartavio Selecto 12 and 18 (Peru)</h4>
                                <hr>
                                <h4>Chairman's Reserve and Forgotten Casks (St. Lucia)</h4>
                                <hr>
                                <h4>Cockspur 12 (Barbados)</h4>
                                <hr>
                                <h4>Denizen Merchant's Reserve (regional blend)</h4>
                                <hr>
                                <h4>Diplomatico Reserva and Reserva Exclusiva (Venezuela)</h4>
                                <hr>
                                <h4>Doorly's 5 Year, 12 Year, and XO (Barbados)</h4>
                                <hr>
                                <h4>Dos Maderas 5+3 and 5+5 (regional blend)</h4>
                                <hr>
                                <h4>El Dorado 5 Year, 8 Year, and 12 Year (Guyana)</h4>
                                <hr>
                                <h4>Kaniché XO (Barbados)</h4>
                                <hr>
                                <h4>Mount Gay Black Barrel and XO (Barbados)</h4>
                                <hr>
                                <h4>Plantation 5 Year Grand Reserve and 20th Anniversary (Barbados)</h4>
                                <hr>
                                <h4>Providencia (regional blend)</h4>
                                <hr>
                                <h4>Pusser's (regional blend)</h4>
                                <hr>
                                <h4>Real McCoy 5 Year and 12 Year (Barbados)</h4>
                                <hr>
                                <h4>RL Seale 9 Year Port Cask Finish and 10 Year (Barbados)</h4>
                            </div>
                        </div>
                    </div>
                </div>


                <h4 id="thirteen"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">BLENDED LONG AGED</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Appleton Estate 21 Jamaica)</h4>
                                <hr>
                                <h4>Banks The Endeavour (regional blend)</h4>
                                <hr>
                                <h4>Cartavio XO (Peru)</h4>
                                <hr>
                                <h4>El Dorado 15 Year, 21 Year, and 25 Year (Guyana)</h4>
                                <hr>
                                <h4>Mount Gay 1703 (Barbados)</h4>
                                <hr>
                                <h4>Pusser's 15 (regional blend)</h4>
                                <hr>
                                <h4>Santa Teresa 1796 (Venezuela)</h4>
                                <hr>
                                <h4>Smooth Ambler Revelation Rum (Jamaica)</h4>
                                <hr>
                                <h4>St. Lucia Distillers 1931 (St. Lucia)</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 id="fourteen"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">COLUMN STILL LIGHTLY AGED</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Bacardi Heritage 1909 (Mexico)</h4>
                                <hr>
                                <h4>Caliche (Puerto Rico)</h4>
                                <hr>
                                <h4>Caña Brava (Panama)</h4>
                                <hr>
                                <h4>Cruse Organic White (California, USA)</h4>
                                <hr>
                                <h4>Cruzan Estate Diamond (U.S. Virgin Islands)</h4>
                                <hr>
                                <h4>Don Q Cristal (Puerto Rico)</h4>
                                <hr>
                                <h4>Facundo Neo (Bahamas/Puerto Rico)</h4>
                                <hr>
                                <h4>Flor de Caña Extra Dry 4 Year (Nicaragua)</h4>
                                <hr>
                                <h4>Ron Del Barrilito 2 Star (Puerto Rico)</h4>
                                <hr>
                                <h4>Scarlett Ibis (Trinidad)</h4>
                            </div>
                        </div>
                    </div>
                </div>


                <h4 id="fifteen"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">COLUMN STILL AGED 4</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Admiral Rodney (St. Lucia)</h4>
                                <hr>
                                <h4>Angostura 1824, 1919, 5 Year, and 7 Year (Trindiad)</h4>
                                <hr>
                                <h4>Bacardi 8 and Reserva Limitada (Bahamas/Puerto Rico)</h4>
                                <hr>
                                <h4>Brugal 1888 and Extra Viejo (Domincan Republic)</h4>
                                <hr>
                                <h4>Caña Brava 7 Year (Panama)</h4>
                                <hr>
                                <h4>Cruzan Single Barrel (U.S. Virgin Islands)</h4>
                                <hr>
                                <h4>Don Pancho Origines 8 (Panama)</h4>
                                <hr>
                                <h4>Don Q Añejo and Gran Añejo (Puerto Rico)</h4>
                                <hr>
                                <h4>El Dorado Single Barrel EP and Single Barrel ICBU (Guyana)</h4>
                                <hr>
                                <h4>English Harbour 5 and 10 (Antigua)</h4>
                                <hr>
                                <h4>Facundo Eximo, Exquisito, and Paraiso (Bahamas/Puerto Rico)</h4>
                                <hr>
                                <h4>Flor de Caña 12 (Nicaragua)</h4>
                                <hr>
                                <h4>Kirk & Sweeney 12, 18, and 23 (Dominican Republic)</h4>
                                <hr>
                                <h4>Ron Abuelo 12, 7, Centuria (Panama)</h4>
                                <hr>
                                <h4>Ron Botran Reserva and Solera 1893 (Guatemala)</h4>
                                <hr>
                                <h4>Ron Cenenario 9, 12, 20, and 25 (Costa Rical</h4>
                                <hr>
                                <h4>Ron Del Barrilito 3 Star (Puerto Rico)</h4>
                                <hr>
                                <h4>Ron Matusalem 15 (Dominican Republic)</h4>
                                <hr>
                                <h4>Trigo (Puerto Rico)</h4>
                                <hr>
                                <h4>Westerhall Plantation (Grenada)</h4>
                                <hr>
                                <h4>Zacapa 23 and XO (Guatemala)</h4>
                                <hr>
                                <h4>Zafra (Panama)</h4>
                            </div>
                        </div>
                    </div>
                </div>



                <h4 id="sixteen"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">COLUMN STILL LONG AGED</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Don Pancho Origines 18 and 30 (Panama)</h4>
                                <hr>
                                <h4>English Harbour 25 (Antigua)</h4>
                                <hr>
                                <h4>Flor De Caña 18 and 25 (Nicaragua)</h4>
                                <hr>
                                <h4>Reserva de la Familia Serrallés 20 Year Old (Puerto Rico)</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 id="seventeen"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">BLACK POT SILL</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Hamilton Jamaica Black (Jamaica)</h4>
                            </div>
                        </div>
                    </div>
                </div>


                <h4 id="eighteen"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">BLACK BLENDED 5</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Coruba (Jamaica)</h4>
                                <hr>
                                <h4>Goslings's Black Seal (regional blend)</h4>
                                <hr>
                                <h4>Hamilton Guyana 86 (Guyana)</h4>
                                <hr>
                                <h4>Kohala Bay (Jamaica)</h4>
                                <hr>
                                <h4>Lemon Hart 80 (Guyana)</h4>
                                <hr>
                                <h4>Pamper Anniversario (Venezuela)</h4>
                                <hr>
                                <h4>Newfoundland Screech (Jamaica)</h4>
                                <hr>
                                <h4>Blackwell's Black Gold (Jamaica)</h4>
                                <hr>
                                <h4>Skipper Finest Old Demerara (Guyana)</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 id="nineteen"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">BLACK BLENDED OVERPROOF 6</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Hamilton Guyana 151 (Guyana)</h4>
                                <hr>
                                <h4>Lemon Hart 151 (Guyana)</h4>
                                <hr>
                                <h4>Plantation O.FT.D. (regional blend)</h4>
                                <hr>
                                <h4>Kohala Bay (Jamaica)</h4>
                                <hr>
                                <h4>Lemon Hart 80 (Guyana)</h4>
                                <hr>
                                <h4>Pamper Anniversario (Venezuela)</h4>
                                <hr>
                                <h4>Newfoundland Screech (Jamaica)</h4>
                                <hr>
                                <h4>Blackwell's Black Gold (Jamaica)</h4>
                                <hr>
                                <h4>Skipper Finest Old Demerara (Guyana)</h4>
                            </div>
                        </div>
                    </div>
                </div>

<h1 id="caneCoffeeStillAged" class="indexSpacing"></h1>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">CANE COFFEY STILL AGED</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Rhum Barbancourt 5 Star and Estate Reserve (Haiti)</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 id="one" class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">CANE POT STILL UNAGED</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Capovilla Agricole PMG (Marie Galante)</h4>
                                <hr>
                                <h4>St. George California Agricole (California, USA)</h4>
                            </div>
                        </div>
                    </div>
                </div>


                <h4 id="canePotStillAged" class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">CANE POT STILL AGED</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Capovilla hum Liberation 2010 (Marie Galante)</h4>
                                <hr>
                                <h4>St. George California Reserve Agricole (California, USA)</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 id="two"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">CANE AOC MARTINIQUE RHUM AGRICOLE BLANC 7</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Clément Première Canne and Canne Blue (Martinique)</h4>
                                <hr>
                                <h4>Duquesne Blanc (Martinique)</h4>
                                <hr>
                                <h4>La Favorite Blanc (Martinique)</h4>
                                <hr>
                                <h4>Neisson Blanc, Le Rhum, and L'Esprit Overproof (Martinique)</h4>
                                <hr>
                                <h4>Rhum J.M White 100 proof (Martinique)</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 id="three"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">CANE AOC MARTINIQUE RHUM AGRICOLE VIEUX 8</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Clément V..O.P., 6 Year Très Vieux, and 10 Year Très Vieux (Martinique)</h4>
                                <hr>
                                <h4>Duquesne Élevé Sous Bois (Martinique)</h4>
                                <hr>
                                <h4>La Favorite Coeur de Ambré and Vieux (Martinique)</h4>
                                <hr>
                                <h4>Neisson Élevé Sous Bois and Réserve Spéciale (Martinique)</h4>
                                <hr>
                                <h4>Rhum J.M E.S.B. Gold and V.S.O.P. (Martinique)</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 id="four"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">CANE AOC MARTINIQUE RHUM AGRICOLE LONG AGED</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Clément Cuvée Homere (Martinique)</h4>
                                <hr>
                                <h4>Neisson 15 Year and 18 Year (Martinique)</h4>
                                <hr>
                                <h4>Rhum J.M 1994 and 1997 (Martinique)</h4>
                            </div>
                        </div>
                    </div>
                </div>


                <h4 id="five"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">POT STILL UNAGED CACHAÇA</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Avuá Prata (Brazil)</h4>
                                <hr>
                                <h4>Novo Fogo Silver (Brazil)</h4>
                            </div>
                        </div>
                    </div>
                </div>



                <h4 id="six"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">POT STILL AGED CACHAÇA</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Avuá Amburana (Brazil)</h4>
                                <hr>
                                <h4>Novo Fogo Gold (Brazil)</h4>
                            </div>
                        </div>
                    </div>
                </div>


                <h4 class="indexSpacing"></h4>
    </div> 
    <a class="btn btn-success topNav"  href="#bTTop">Back to top</a>



{% endblock %}