{% layout 'layout.liquid' %}
{% block content %}
    
    <div class="topSpace" id="bTTop">sssssss</div>

    <div data-spy="scroll" data-target="#navbar-example2" data-method="offset" data-offset="10" >
        <nav id="navbar-example2" class="navbar bg-dark" style="padding: 1rem; border-radius:1rem;">
            <a class="btn btn-secondary" href="#butt">Butt</a>

            <a class="btn btn-secondary" href="#boop">Boop</a>

            <a class="btn btn-secondary" href="#pot">Pot</a>

            <a class="btn btn-secondary" href="#one">One</a>

            <a class="btn btn-secondary" href="#two">Two</a>
        </nav>
        
        <h4 id="butt" class="indexSpacing"></h4>

        <div   class="line">
            <h2>Your Butt Rum</h2>
            <h4>Last Updated:</h4>
            <h3> DrinlastUpda</h3>
            <h4>Original creator:</h4>
        </div>

        <h4 id="boop" class="indexSpacing"></h4>

        <div   class="line">
            <h2>Boopty</h2>
            <h4>Last Updated:</h4>
            <h3> DrinlastUpda</h3>
            <h4>Original creator:</h4>
        </div>

        <h4 id="pot" class="indexSpacing"></h4>

        <div   class="line">
            <h2 class="ownerUpdate" >Pot Still</h2>
            <div style="display: inline-flex;">
                <div  style="margin:4vh;">
                    <h4>Pot on your butt</h4>
                    <h4>Last Updated:</h4>
                </div>
                <div  style="margin: 4vh;">
                    <h4> DrinlastUpda</h4>
                    <h4>Original creator:</h4>
                </div>
            </div>
        </div>

        <h4 id="one" class="indexSpacing"></h4>

        <div   class="line">
            <h2>Another one bites the dust</h2>
            <h4>Last Updated:</h4>
            <h3> DrinlastUpda</h3>
            <h4>Original creator:</h4>
        </div>

        <h4 id="two"  class="indexSpacing"></h4>

        <div  class="line">
            <h2 style="font-size: 3rem;"  >Two of a king</h2>
            <h4>Last Updated:</h4>
            <h3> DrinlastUpda</h3>
            <h4>Original creator:</h4>
            <h3> tikiDr</h3>
            <h4>gredient</h4>
        </div>
    </div> 
    <a class="btn btn-success topNav"  href="#bTTop">Back to top</a>



{% endblock %}