{% layout 'layout.liquid' %}
{% block content %}
    
    <div class="topSpace" id="bTTop">sssssss</div>

    <div data-spy="scroll" data-target="#navbar-example2" data-method="offset" data-offset="10" style="justify-content:center">
                
                <div style="padding: 0; font-size: 4vh; background-color: rgb(20, 20, 20); border: solid tan 4px; justify-content:center">
                    <nav 
                        id="navbar-example2 " class="navbar bg-dark" style="display: flex; padding: 2rem; margin: 1rem; border-radius:1rem;" 
                    >
                        <a class="btn btn-secondary buttSpace" href="#bTTop">Butt</a>

                        <a class="btn btn-secondary buttSpace" href="#caneCoffeeStillUnaged">Cane Coffee Still Unaged</a>

                        <a class="btn btn-secondary buttSpace" href="#caneCoffeeStillAged">Cane Coffee Still Aged</a>

                        <a class="btn btn-secondary buttSpace" href="#canePotStillAged">Cane Pot Still Aged</a>

                        <a class="btn btn-secondary buttSpace" href="#two">Two</a>

                        {%- comment -%} <a class="btn btn-secondary buttSpace" href="#">Back to Top</a> {%- endcomment -%}
                    </nav>
                </div>
                <h4 class="indexSpacing"></h4>
                <h4 id="butt"></h4>

                <div   class="line">
                    <h2>Your Butt Rum</h2>
                    <h4>Last Updated:</h4>
                    <h3> DrinlastUpda</h3>
                    <h4>Original creator:</h4>
                </div>

                <h4 id="caneCoffeeStillUnaged" class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">CANE COFFEY STILL UNAGED</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Capovilla Agricole MG (Marie Galante)</h4>
                                <hr>
                                <h4>St. George California Agricole (California, USA)</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h1 id="caneCoffeeStillAged" class="indexSpacing"></h1>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">CANE COFFEY STILL AGED</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Rhum Barbancourt 5 Star and Estate</h4>
                                <hr>
                                <h4>Reserve (Haiti)</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 id="canePotStillAged" class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">CANE POT STILL AGED</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Capovilla hum Liberation 2010 (Marie Galante)</h4>
                                <hr>
                                <h4>St. George California Reserve Agricole (California, USA)</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 id="two"  class="indexSpacing"></h4>

                <div id="fieldBox">
                    <div   class="line">
                        <h1 class="ownerUpdate" style="padding: 0; font-size: 4vh;">CANE AOC MARTINIQUE RHUM AGRICOLE BLANC 7</h1>
                        <div style="display: inline-flex;">
                            <div  style="margin:4vw;">
                                <h4>Clément Première Canne and Canne Blue (Martinique)</h4>
                                <hr>
                                <h4>Duquesne Blanc (Martinique)</h4>
                                <hr>
                                <h4>La Favorite Blanc (Martinique)</h4>
                                <hr>
                                <h4>Neisson Blanc, Le Rhum, and L'Esprit Overproof (Martinique)</h4>
                            </div>
                        </div>
                    </div>
                </div>

    </div> 
    <a class="btn btn-success topNav"  href="#bTTop">Back to top</a>



{% endblock %}