body {
    background-image: url(https://i.imgur.com/OiOp4HZ.jpg);
    background-color: brown;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    width: 100%;
    height: 100%;

}



.card {
    margin: 5px;
    background-color: lightseagreen;
    border-radius: 2%;
    height: 17rem;
}

.inputLine {
    display: inline;
}

#fieldBox {
    border: solid tan 8px;
    border-radius: 20px;
    color: black;
    background-image: url(https://i.imgur.com/HdavFgH.jpg);
    align-content: center;
    justify-content: center;
    padding: 4px;
    

}

#bttnGroup {
    display: flex;
    flex-flow: row;
    margin: 10px;
}

.line {
    /* background-image: url(https://i.imgur.com/HdavFgH.jpg); */
    background-size: contain;
    /* background-size: 10rem; */
    background-color: rgb(30, 30, 30);
    color: seashell;
    opacity: .95;
    background-position: center;
    text-align: center;
    width: 70%;
    align-content: center;
    justify-content: center;
    margin: auto;
    border-radius: .5rem;
}

.titles {
    background-image: url(https://i.imgur.com/HdavFgH.jpg);
    background-size: contain;
    background-position: center;
    border-radius: 20px;
    color: black;
    margin: 1rem;
    border: solid tan 8px;
    /* border-image: url(https://i.imgur.com/OiOp4HZ.jpg); */
    border-image-width: 100%;
    padding-left: 1rem;
    text-align: center;
}

.names {
    font-size: 3rem;
    color: white;
    background-color: rgb(20, 20, 20);
    opacity: .95;
    /* margin: 2rem; */
    border-radius: .25rem;
    padding-top: 5rem;
    padding-left: 1rem;
    z-index: -2;
    overflow: auto;
}

.row {
    justify-content: center;
}

.ownerUpdate {
    font-size: 1.5rem;
    color: white;
    background-color: rgb(20, 20, 20);
    opacity: .95;
    /* margin: 2rem; */
    border-radius: .25rem;
    z-index: -2;
    padding-left: 1rem;
}

.article {
    align-items: center;
}

.aloha {
    font-size: 4rem;
    color: white;
    background-color: black;
    opacity: .8;
    /* margin: 2rem; */
    border-radius: .5rem;
    z-index: -2;
    padding-left: 1rem;
}

.wellBack {
    font-size: 2rem;
    color: white;
    background-color: black;
    opacity: .95;
    /* margin: 2rem; */
    border-radius: .5rem;
    z-index: -2;
    padding-left: 1rem;
}
/* 
.unfCust {
    /* float: right; */
