{%- comment -%} Aloha welcome page {%- endcomment -%}
{% layout 'layout.liquid' %}
{% block content %}
<div>
        <h1 class="display-4">Sorry, you're not old enough yet. Aloha!</h1>
</div>
{% endblock %}
