{%- comment -%} Aloha welcome page {%- endcomment -%}
{% layout 'layout.liquid' %}
{% block content %}
<div style="height: 6rem">sssssss</div>
<div>
        <h1 class="display-4 line">Sorry, you're not old enough yet. Aloha!</h1>
</div>
{% endblock %}
