{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <h2>Leaving so soon?</h2>
        <div class="btn-group">
            <a class="btn btn-warning">Take me back</a>
            <form action="/users/logout?_method=DELETE" method="POST">
                <input class="btn btn-danger" type="submit" value="Log out">
            </form>
        </div>
    </div>
{% endblock %}