{% layout 'layout.liquid'%}
{% block content %}
<div class="topSpace">sssssss</div>
    <div class="container-sm">
        {%- comment -%} in a form we have an action and a method, the action is the url endpoint the endpiont method is the verd {%- endcomment -%}
        <form action="/users/signup" method="POST" style="justify-content:center; align-items: center; text-align: center;">
            <fieldset class="wellBack">
                <legend class="form-label" style="font-size: 3rem; height:5rem;">Sign Up</legend>
                <label>Username: </label>
                <input class="form-control" style="width: 100%;" type="text" name="username" placeholder="username" required>
                <label class="form-label">Password: </label>
                <input class="form-control" style="width: 100%;" type="password" name="password" placeholder="enter password" required>
                <label class="form-label">Age: </label>
                <input class="form-control" style="margin-bottom: 1rem; width: 100%" type="number" name="age" placeholder="enter age" required>
            </fieldset>
            <input class="btn btn-success" type="submit" style="margin: 1rem; justify-self: center;" value="Create Account">
        </form>
    </div>

{% endblock%}